@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
}

section {
    display: grid;
    grid-template-columns:1fr;
    margin-top: 200px;
    justify-items: center;
    grid-row-gap: 20px;
}

img {
    width: 100%;
    height: auto;
}
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}
.content h1 {
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.035em;
    color: #333;
}
.content p {
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4f4f4f;
}

.content input {
    width: 216px;
    height: 68px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    background-color: #333;
    cursor: pointer;
}
.content input:hover {
    background-color: rgb(78, 77, 77);
}
footer {
    color: rgb(105, 104, 104);
    display: flex;
    margin: 200px 0 20px 0;
    justify-content: center;
}

@media screen and (min-width: 800px){
    .container {
        width: 100%;
        max-width: 1366px;
    }
    section {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    .content {  
        grid-column: 2/3;
        /* grid-row-gap: 2px; */
    }
    .content p {
        width: 350px;
        font-size: 24px;
    }
}